<h1>Alta Cliente</h1>

<p>Nombre:</p>
<input type="text" [(ngModel)]="nombre" />
<p>CIF:</p>
<input type="text" [(ngModel)]="cif" />

<p>Dirección:</p>
<input type="text" [(ngModel)]="direccion" />
<p>Grupo:</p>
<select name="grupo" id="grupo" [(ngModel)]="grupo">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
</select>

<button class="button" (click)="guardar()">Guardar</button>

<app-listado [arrayListadoClientes]="arrayListadoClientes"></app-listado>
